extends layout

block content
    p Error Name: 
    pre #{error.name}
    p Error Message:
    pre #{error.message}
    p Error Status:
    pre #{error.status}
    p Error Stack:
    pre #{error.stack}